<form method="post" action="{{ path('edit_mascota_delete', {'id': mascotum.id}) }}" onsubmit="return confirm('Seguro quieres borrar esta mascota?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mascotum.id) }}">
    <button class="btn btn-danger" role="button">Delete</button>
</form>
