{{ form_start(form) }}
    <div class="row-fluid">
        {{ form_widget(form) }}
        
    </div>
   <button class="btn btn-danger" role="button">{{ button_label|default('Guardar') }}</button>
  
  
{{ form_end(form) }}
