@font-face {
    font-family: 'signikabold';
    src: url('../fonts/signika-bold-webfont.woff2') format('woff2'),
         url('../fonts/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('../fonts/signika-regular-webfont.woff2') format('woff2'),
    url('../fonts/signika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'remachine_script_personal_uRg';
    src: url('../fonts/remachinescript_personal_use-webfont.woff2') format('woff2'),
    url('../fonts/remachinescript_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: signikaregular;


}

h4,h5,h6{
    font-family: signikabold;
    color: 
    #962D2D;
}
h1,h2,h3{
    font-family: signikabold;
    color: #E798AE;
}
.navbar{
    background-color: #4A1C40 !important;
    font-family: signikabold;
    font-size: 1.5em;
}

.navbar-brand{
    font-family: remachine_script_personal_uRg;
    font-size: 2em;
    color: #F6E5E9 !important;
}

.nav-link{
    color: #F6E5E9 !important;
}

.fa-user, .bg-yellow {
    color: #9948ad;
    font-size: 1.3em;
}
.fa-clock, .bg-green{
    color: #4527ee;
    font-size: 1.3em;
}

.cursor:hover{
    cursor: pointer;
}

.colum-c{
    background-color: #F6E5E9;
}
