{% extends 'base.html.twig' %}

{% block title %}New Adopcion{% endblock %}

{% block body %}
  <div class="container  colum-c">
    {{parent()}}
    <div class="row justify-content-center">
                <h1>Agregar Nueva Adopcion</h1>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
                    <div class="col-md-3">
                        <h1>
                    </div>
                    <div class="col-md border border-danger tr-3">
                        <h1>
                        <h6>
                        {{ include('adopcion/_form.html.twig') }}
                        
                        <h6>
                    </div>
                    <div class="col-md-3">
                        <h1>
                    </div>
        </div>  
    </div>
    <hr>
    <div class="row p-3 justify-content-end">
        <a href="{{ path('adopcion_index') }}" class="btn btn-danger" role="button" >Volver a la lista</a>
    </div>
</div>
</div>
{% endblock %}
