<form method="post" action="{{ path('edit_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Seguro quieres borrar este Usuario?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger" role="button">Delete</button>
</form>
